/* div for post */
body {
  padding: 3rem;
}

.App {
  padding: 2rem;
}

.post-box {
  width: 45rem;
  height: 20rem;
  padding: 2rem;
  margin: auto;
  border: 0.3rem;
  border-style: solid;
  border-color: black;
  background-color: azure;
  margin-bottom: 2rem;
}

.post-content {
  box-sizing: content-box;
  height: 50%;
  padding-left: 10px;
  padding-right: 10px;
  border: 0.3 rem;
  border-style: solid;
  border-color: black;
  background-color: lightblue;
  margin-bottom: 1rem;
}

.bottom-content {
  border: 2 rem;
  border-style: solid;
  border-color: black;
}

.whole-post-box {
  width: 45rem;
  height: 30rem;
  padding: 2rem;
  margin: auto;
  border: 0.3rem;
  border-style: solid;
  border-color: black;
  background-color: azure;
  margin-bottom: 2rem;
}

.whole-post-content {
  box-sizing: content-box;
  height: 50%;
  padding-left: 10px;
  padding-right: 10px;
  border: 0.3 rem;
  border-style: solid;
  border-color: black;
  background-color: lightblue;
  margin-bottom: 1rem;
}

.whole-post-bottom-content {
  box-sizing: content-box;
  height: 5%;
  border: 0.3rem;
  border-style: solid;
  border-color: black;
  margin-bottom: 1 rem;
}

.whole-post-comment-box {
  box-sizing: content-box;
  height: 15%;
  border: 0.3rem;
  border-style: solid;
  border-color: blue;
  margin-top: 1rem;
}

/* .whole-post-comment-textarea {
  box-sizing: content-box;
  height: 60%;
  width: 95%;
  resize: none;
} */