/* .add-post-button {
  width: 50 px;
  height: 50 px;
  padding: 10 px;
  margin: 10 px;
  border: 1px solid black;
}

/* div for post */
body {
  padding: 20px;
}
.post-box {
  width: 30rem;
  height: 20rem;
  padding: 3rem;
  margin: auto;
  border: 0.3rem;
  border-style: solid;
  border-color: black;
  background-color: azure;
}

.post-content {
  box-sizing: content-box;
  border: 0.3 rem;
  border-style: solid;
  border-color: orange;
  background-color: green;
}

.extra-content {
  border: 2 rem solid brown;
}